page-posts {
    .btn-row{
        width: 100%;
        display: inline-flex;
        justify-content: center;
    }
    
    .ion-content{
        display: inline-flex;
        justify-content: center;
    }
    
    // #posting-btn{
        
        // }
    }
    