<!-- Generated template for the PostingModalComponent component -->


<ion-header>
  <ion-toolbar>
    <div class="toolbar-content">
      <button ion-button clear (click)="cancelPosting()">취소</button>
      <div class="tooltitle">글쓰기</div>
      <button ion-button clear *ngIf="!postContent"> &nbsp; &nbsp;
      </button>
      <button ion-button clear *ngIf="postContent" (click)="uploadPost()"> 저장
      </button>
    </div>



  </ion-toolbar>
</ion-header>
<ion-content>



  <yt-editor #ytEditor [data]="postContent"></yt-editor>
  <!-- <div ace-editor [mode]="'typescript'" #lineEditor class="editor" (textChanged)="onChange($event)" [options]="editorOptions"
    [autoUpdateContent]="true" [durationBeforeCallback]="100"></div> -->


</ion-content>