posting-modal {
    // margin-top : 1vh;
    // dis   
    ion-header{
        ion-toolbar{
            .toolbar-content{
                display: inline-flex;
                width: 100%;
                justify-content: space-between;
                align-items: center;
                .tooltitle{
                    font-size: 16px;
                }
            }
            
            
        }
    }
    
}
